@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(96% 0.007 247.896);
  --color-base-200: oklch(86% 0.022 252.894);
  --color-base-300: oklch(96% 0.007 247.896);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(39% 0.095 152.535);
  --color-primary-content: oklch(96% 0.044 156.743);
  --color-secondary: oklch(37% 0.01 67.558);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(70% 0.01 56.259);
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(39% 0.095 152.535);
  --color-success-content: oklch(96% 0.044 156.743);
  --color-warning: oklch(47% 0.137 46.201);
  --color-warning-content: oklch(95% 0.038 75.164);
  --color-error: oklch(39% 0.141 25.723);
  --color-error-content: oklch(80% 0.114 19.571);
  --radius-selector: 0.25rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.21875rem;
  --size-field: 0.1875rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

html {
  background-color: var(--color-bg);
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Lexend", Arial, sans-serif !important;
}
#root {
  height: 100%;
  width: 100%;
}

a {
  color: var(--color-primary);
}

a:visited {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary-hover);
}

a:active {
  color: var(--color-primary-active);
}

.paper {
  background-color: var(--color-paper);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.layout {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.content {
  margin-top: 5%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 1rem;
}

@media (max-width: 1199px) {
  .content {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .content {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .content {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .content {
    width: 85%;
  }
}
